<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="./assets/img/leo1cuad.jpeg" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"> <a href="#home"> Leandro J. Martinez </a> </h1>
      <div class="social-links mt-3 text-center">
        <a href="mailto:leandro666m@gmail.com" target="_blank" class="gmail"><i class="bx bxl-gmail"></i></a>
        <a href="https://www.linkedin.com/in/leandro-martinez-24a2a721/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://msng.link/o/?leom666=tg" target="_blank" class="telegram"><i class="bx bxl-telegram"></i></a>
      </div>
    </div>

    <nav id="navbar" class="nav-menu navbar">
      <ul>
        <li><a href="#home" class="nav-link scrollto "><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#acerca" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#experiencias" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Experiencias</span></a></li>
        <li><a href="#educacion" class="nav-link scrollto"><i class="bx bxs-graduation"></i> <span>Educación</span></a></li>
        <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-book-reader"></i> <span>Hard & Soft Skills</span></a></li>
        <li><a href="#proyectos" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Proyectos</span></a></li>
      </ul>
    </nav>
  </div>
</header>

