<section id="Experiencias" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Experiencias</h2>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Resumen</h3>

        <div class="resume-item pb-0">
          <h4>Técnico Senior y Encargado de Dpto</h4>
          <h5> <a target="_blank" href="www.concordia.gob.ar"> Municipalidad de Concordia</a> </h5>
          <p><em>2014-2023.</em></p>
          <p>Asistencia técnica al usuario y mantenimiento de la infraestructura informática - Hardware & Software - en el área División de Soporte técnico y al usuario - de la Dirección de Informática - Sec. de Economía y Hacienda</p>
        </div>

        <div class="resume-item pb-0">
          <h4>Encargado Delegado de nivel universitario en la FCAD-UNER</h4>
          <h5> <a target="_blank" href="https://www.institutobecario.gov.ar/"> IN.AU.BE.PRO. Instituto Autárquico Becario Provincial</a> </h5>
          <p><em>2009-2015.</em></p>
          <p>Asesoramiento y seguimiento de los alumnos becarios.</p>
        </div>

      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

        <div class="resume-item pb-0">
          <h4>Diseño gráfico</h4>
          <h5> <a target="_blank" href=""> freelance</a> </h5>
          <p><em>2005-2006.</em></p>
          <p>Cofundador, finanzas, diseñador del periódico "Vivir en Curuzú", un mensual de tirada gratuita a toda la ciudad con noticias destacadas y anuncios, con apoyo del centro de estudiantes y directivos del ISCC.</p>
        </div>

        <div class="resume-item pb-0">
          <h4>Diseño gráfico</h4>
          <h5> <a target="_blank" href=""> freelance</a> </h5>
          <p><em>2005-2023.</em></p>
          <p>Como aficionado, creando varios tipos de productos.</p>
        </div>

        <div class="resume-item pb-0">
          <h4>Técnico informático en Hard & Soft</h4>
          <h5> <a target="_blank" href=""> freelance</a> </h5>
          <p><em>2005-2023.</em></p>
          <p>Como aficionado, creando varios tipos de productos.</p>
        </div>

      </div>
    </div> <!-- row -->

  </div>
</section>
