<section id="educacion" class="educacion">
  <div class="container">
    <div class="section-title">
      <h2>Educación</h2>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"> <img src="./assets/img/logo_iscc.png" alt="" class="img-fluid rounded-circle"> </div>
        <h4 class="title">Técnico superior en PC</h4>
        <h6 class="title"><a target="_blank" href="https://iscuruzucuatia-crr.infd.edu.ar/sitio/"> Instituto Superior de Curuzú Cuatiá - En articulación con FaCENa - UNNE </a></h6>
        <p class="title">2005-2006</p>
        <p class="descripcion"> La tecnicatura superior en PC es el título intermedio de 2 años de duración en la carrera de Técnico Analista Programador, éste título acorda a la articulación con la carrera de Lic. en Sistemas en la Universidad Nac. del Nordeste.</p>
      </div>


      <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
        <div class="icon"> <img src="./assets/img/logouner.png" alt="" class="img-fluid rounded-circle"> </div>
        <h4 class="title"> Programador de Sistemas</h4>
        <h6 class="title"> <a target="_blank" href="https://www.fcad.uner.edu.ar/"> Facultad de Ciencias de la Administración - Universidad Nacional de Entre Ríos</a></h6>
        <p class="title">2007-2012</p>
        <p class="descripcion">Programador de Sistemas es el título intermedio de 3 años de duración en la carrera Licenciatura en Sistemas.</p>
      </div>

    </div>


    <div data-aos="fade-up" data-aos-delay="200">
      <a class="capacitacionesLink" routerLink="" (click)="openEducCursos(educCursos)"> <i class="fa-solid fa-graduation-cap" style="font-size:40"></i>Capacitaciones </a>
    </div>


  </div>


</section>


<ng-template #educCursos let-c="close" let-d="dismiss">
  <div data-bs-scroll="true" class="modal-dialog  canvasCursos" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="modal-dialog-content">

      <div class="offcanvas-header">
        <h4 class="offcanvas-title">Cursos y Capacitaciones</h4>
      </div>

      <div class="modal-body">
        <div class="container-fluid">

          <div class="row">
            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso">Disfrutando la programación web: Ruby o Rails</h4>
                    <p class="descripcionCurso"> <b>2009 </b> - Escuela de Informática y Sistemas - VII Jornadas de Administración e Informática </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso">Centro de cómputos: tecnologías e implementaciones en sistemas de tipo UNIX</h4>
                    <p class="descripcionCurso"> <b>2009 </b> - Universidad Nacional de Jujuy - Escuela CACIC Congreso Argentino de Ciencias de la Informática y la Computación </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso"> </h4>
                    <p class="descripcionCurso"> <b>2010 </b> - Escuela de Informática y Sistemas - VIII Jornadas de Administración e Informática </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso">Linux-Apache-MySql-PHP</h4>
                    <p class="descripcionCurso"> <b>2012 </b> - Escuela de Informática y Sistemas - X Jornadas de Administración e Informática </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso">Oracle y Fundacion PROYDESA</h4>
                    <p class="descripcionCurso"> <b>2013 </b> - Base de Datos Oracle 10g </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso">Oracle y Fundacion PROYDESA</h4>
                    <p class="descripcionCurso"> <b>2013 </b> - Base de Datos Oracle 10g </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso">POO - Patrones de Diseño</h4>
                    <p class="descripcionCurso"> <b>2014 </b> - FCAD - UNER </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso">Programación declarativa - Leanguaje Prolog</h4>
                    <p class="descripcionCurso"> <b>2014 </b> - FCAD - UNER </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso"> Introducción a la programación en Phyton </h4>
                    <p class="descripcionCurso"> <b>2014 </b> - FCAD - UNER </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso"> Software Libre y GNU Linux </h4>
                    <p class="descripcionCurso"> <b>2014 </b> - FCAD - UNER </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso"> Conceptos de Arquitecturas Grid </h4>
                    <p class="descripcionCurso"> <b>2014 </b> - FCAD - UNER </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso"> Métricas de Software </h4>
                    <p class="descripcionCurso"> <b>2014 </b> - FCAD - UNER </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso">BlockChain: Fundamentos de una tecnología Disruptiva </h4>
                    <p class="descripcionCurso"> <b>2021 </b> - Universidad Siglo XXI </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso">Uso de Blockchain en la cadena de valor </h4>
                    <p class="descripcionCurso"> <b>2022 </b> - Polo Binacional Salto Grande </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso">Universidad Java</h4>
                    <p class="descripcionCurso"> <b>2022 </b> - Global Mentoring </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso">Universidad Angular</h4>
                    <p class="descripcionCurso"> <b>2022 </b> - Global Mentoring </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso">Introduccion a .NET 6.0 / C# / MVC</h4>
                    <p class="descripcionCurso"> <b>2022 </b> - Polo Tecnológico Municipal-Mina Clavero-Córdoba & IncluIT </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso">Excel 2013 Avanzado: Funciones Avanzadas</h4>
                    <p class="descripcionCurso"> <b>2022 </b> - Ministerio de Educacion </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso"> #Yo Programo-Programación Web Full-Stack - Base de Datos MySQL - Backend: Spring Boot-Java - FrontEnd: Angular</h4>
                    <p class="descripcionCurso"> <b>2021-2022 </b> - INTI - Ministerio de Desarrollo Productivo</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4 my-1 mx-auto">
              <div class="col">
                <div class="card">
                  <div class="card-body">
                    <h4 class="tituloCurso">Pearson English Interactive 1</h4>
                    <p class="descripcionCurso"> <b>2022 </b> - Centro Universitario de Idiomas</p>
                  </div>
                </div>
              </div>
            </div>


          </div> <!-- row -->
        </div>
      </div>

    </div>

  </div>

</ng-template>
