<section id="skills" class="skills section-bg">
  <div class="container">

    <div class="section-title">
      <h2>Hard & Soft Skills</h2>
    </div>

    <div class="row skills-content">

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="progress" data-aos="fade-up" data-aos-delay="150">
          <span class="skill">Full Stack Web Angular + SpringBoot JAVA + MySQL <i class="val">50%</i></span>
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 50%"></div>
        </div>

        <div class="progress" data-aos="fade-up" data-aos-delay="300">
          <span class="skill">Corel Draw + Photoshop + Figma <i class="val">70%</i></span>
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
        </div>

        <div class="progress" data-aos="fade-up" data-aos-delay="450">
          <span class="skill">.Net 2022 C# MVC <i class="val">40%</i></span>
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 40%"></div>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="progress" data-aos="fade-up" data-aos-delay="150">
          <span class="skill">Resolución de problemas <i class="val">80%</i></span>
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
        </div>

        <div class="progress" data-aos="fade-up" data-aos-delay="300">
          <span class="skill">Aprendizaje rápido <i class="val">80%</i></span>
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
        </div>

        <div class="progress" data-aos="fade-up" data-aos-delay="450">
          <span class="skill">Liderazgo y trabajo en equipo <i class="val">80%</i></span>
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
        </div>
      </div>

    </div>
  </div>
</section>
